body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows:auto;
	font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
	grid-gap: 5px;
}
.portfolioName {
	grid-column: 1 / 11;
	grid-row: 1;
}
.portfolioPic {
    grid-column: 11 / 13;
	grid-row: 1;
}
.certificatePhoto01 {
    grid-column: 1 / 7;
	grid-row: 2;
}
.certificatePhoto02 {
    grid-column: 7 / 12;
	grid-row: 2;
}
.certificatePhoto03 {
    grid-column: 1 / 7;
	grid-row: 3;
}
.certificatePhoto04 {
    grid-column: 7 / 12;
	grid-row: 3;
}
.certificatePhoto05 {
    grid-column: 1 / 7;
	grid-row: 4;
}
.certificatePhoto06 {
    grid-column: 7 / 12;
	grid-row: 4;
}
.certificatePhoto07 {
    grid-column: 1 / 7;
	grid-row: 5;
}
.certificatePhoto08 {
    grid-column: 7 / 12;
	grid-row: 5;
}
.certificatePhoto09 {
    grid-column: 1 / 7;
	grid-row: 6;
}
.certificatePhoto10 {
    grid-column: 7 / 12;
	grid-row: 6;
}
.buttonReturn {
    grid-column: 10 / 11;
	grid-row: 7;
}
