
.quickLinks {
    li {
        list-style-type: none;
        text-align: center;
}
    h3{
        text-align: center;
    }
}

.web {
    li {
    list-style-type: none;
        text-align: center;
}
    h3{
        text-align: center;
}
}



.footer {
    text-align: center;
    background-color: #12b0ee;
}
