/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
    transform: scale(1.1);
}

/* selected link */
a:active {
    color: yellow;
}

