@mixin pj {
    width: $portfolio-project-pic-width;
    height: $portfolio-project-pic-height;
    border: $picture-boder;
    border-radius: $border-radius;
}
@mixin headingone {
    color: $main-heading-h1;
    text-align: center;
    font: {
        size: 38px;
        family: lobster;
        pading: 5px;
    }
}
@mixin headingtwo {
    color: $main-heading-h1;
    text-align: center;
    font: {
        size: 48px/3*2;
        family: lobster;
    }
}
@mixin headingthree {
    color: $main-heading-h1;
    text-align: center;
    font: {
        size: 48px/4;
        family: lobster;
    }
}
@mixin cerificates {
    text-align: left;
    background-color: darkorange;
    width: 600px;
    height: 450px;
    margin: 10px;
    border: {
        radius: 20px;
        width: 3px;
        color: #00fff0;
        style: solid;
}
}
