$main-heading-h1: #0000ff;
$main-heading-h2: #0000ff;
$main-heading-h3: #0000ff;
$main-headingh-other: #0000ff;
$picture-boder: 3px #0000ff solid;
$border-radius: 20px;
$button-background: #00ffff;
$button-width: 150px;
$button-border: 3px #0000ff solid;
$portfolio-pick-width: 100px;
$portfolio-pick-height: 120px;
$portfolio-project-pic-width: 300px;
$portfolio-project-pic-height: 300px;